<div id="responsive" class="modal fade " role="dialog" style="padding-top:10%">
    <div class="modal-dialog  modal-scrollable modal-lg">
        <div class="modal-content">
            @*<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>

            <h4 class="modal-title">Encuestadores</h4>
        </div>*@

            <div class="modal-body" style="background-color:#d2d6de">
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Historial de Estados</h4>

                    </div>
                    <div class="box-body">
                        <div id="DatosTabla" class="col-xs-10 col-md-10 col-lg-12 " style="overflow: auto; width: 97%; ">
                            <table id="table-mardis-dt" class="uk-table uk-table-hover uk-table-striped">
                                <thead>
                                    <tr>

                                        <th style="text-align: center">Fecha</th>
                                        <th style="text-align: center">Usuario </th>
                                        <th style="text-align: center">Estado</th>
                                        <th style="text-align: center">Observación</th>
                                    </tr>
                                </thead>
                                <tbody style="text-align: center">
                                    @*<tr>

                                        <td>2018/01/10</td>
                                        <td>Edicion1 </td>
                                        <td>Anulado</td>
                                    </tr>

                                    <tr>

                                        <td>2018/01/10</td>
                                        <td>Edicion1 </td>
                                        <td>Editado</td>
                                    </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>