<!-- Modal Funcionalidad Principal -->
<div id="IdQuestionDinamic" class="modal fade " role="dialog" style="padding-top:10%">
    <div class="modal-dialog  modal-scrollable modal-lg">
        <div class="modal-content">
            @*<div class="modal-header">


                    <h4 class="modal-title">Encuestadores</h4>
                </div>*@

            <div class="modal-body" style="background-color:#d2d6de">
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Información Harinas</h4>
                        <button type="button" class="pull-right close" data-dismiss="modal" style="    color: black;    font-size: 20px;    font-weight: 700;">&times;</button>

                        <div class="callout callout-warning" id="idsavedinamic" hidden>
                            <h5>Guardando la información...!</h5>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="box-body">
                            <div class="form-group col-md-6">
                                <label for="exampleInputEmail1" class="txtHarinas">Harina</label>
                                <input type="text" class="form-control" v-model="harinas[0].Marca">
                            </div>
                            <div class="form-group  col-md-6">
                                <label for="exampleInputPassword1" class="txtHarinas">Revisión de precio con Factura</label>

                                <select v-model="harinas[0].Factura" class="form-control">
                                    <option>si</option>
                                    <option>no</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleInputPassword1" class="txtHarinas">Peso(kg)</label>
                                <input type="text" class="form-control" v-model="harinas[0].Peso">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleInputPassword1" class="txtHarinas">Precio($)</label>
                                <input type="text" class="form-control" v-model="harinas[0].PrecioSaco">
                            </div>

                            <div class="form-group  col-md-6">

                                <label for="exampleInputPassword1" class="txtHarinas">Le ofrecieron algún descuento</label>
                                <select v-model="harinas[0].Descuento" class="form-control">
                                    <option>si</option>
                                    <option>no</option>
                                </select>

                            </div>
                            <div class="form-group  col-md-6">
                                <label for="exampleInputPassword1" class="txtHarinas">Descuento por compra(%)</label>
                                <input type="text" class="form-control" v-model="harinas[0].ValorDescuento">
                            </div>
                            <label for="exampleInputPassword1" class="txtHarinas">Requisitos Descuento</label>
                            <div class="form-group">

                                <input type="text" class="form-control" v-model="harinas[0].RequisitosDescuento">
                            </div>
                            <div v-for="(service, index) in poll.ServiceCollection" class="form-group">
                                <div v-for="(section, i) in service.ServiceDetailCollection">

                                    <div v-if="section.GroupName=='modal'">
                                        <label for="exampleInputPassword1" class="txtHarinas">Requisitos Descuento(Edición)</label>
                                        <div v-for="(question, j) in section.QuestionCollection">

                                            <div v-bind:class="classlenght(question.Weight)" v-if="question.CodeTypePoll=='COMPLETE'">
                                                <v-autocomplete v-model="harinas[0].QuestionComplete"
                                                                :disabled="isUpdating"
                                                                :items="question.QuestionDetailCollection"
                                                                box
                                                                chips
                                                                color="blue-grey lighten-2"
                                                                item-text="Answer"
                                                                item-value="Id"
                                                                multiple>
                                                    <template slot="selection"
                                                              slot-scope="data">
                                                        <v-chip :selected="data.selected"
                                                                class="chip--select-multi"
                                                                color="blue-grey_mardis">
                                                            {{ data.item.Idconcept }}
                                                        </v-chip>
                                                    </template>
                                                    <template slot="item"
                                                              slot-scope="data">
                                                        <template v-if="typeof data.item !== 'object'">
                                                            <v-list-tile-content v-text="data.item"></v-list-tile-content>
                                                        </template>
                                                        <template v-else>

                                                            <v-list-tile-content>
                                                                <v-list-tile-title v-html="data.item.Answer"></v-list-tile-title>
                                                            </v-list-tile-content>
                                                        </template>
                                                    </template>
                                                </v-autocomplete>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="box-footer ">

                        <button type="submit" id="btndinamic" class="btn bg-navy btn-flat margin  pull-right" v-on:click="acceptDinamic">Guardar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Modal Funcionalidad Secundaria Cambio de Marca de Harina -->
<div id="IdQuestionDinamicCambioHarina" class="modal fade " role="dialog" style="padding-top:10%">
    <div class="modal-dialog  modal-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-body" style="background-color:#d2d6de">
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Cambio Harina</h4>
                        <button type="button" class="pull-right close" data-dismiss="modal" style="    color: black;    font-size: 20px;    font-weight: 700;">&times;</button>
                        <div class="callout callout-warning" id="idsavedinamic" hidden>
                            <h5>Guardando la información...!</h5>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="box-body">
                            <div class="form-group col-md-12">
                                <label for="exampleInputEmail1" class="txtHarinas">Harina Actual</label>
                                <input type="text" class="form-control" v-model="harinas[0].Answer" disabled>
                            </div>

                            <label for="exampleInputPassword1" class="txtHarinas">Harina Nueva</label>
                            <div v-for="(service, index) in poll.ServiceCollection" class="form-groupb col-md-12">
                                <div v-for="(section, i) in service.ServiceDetailCollection">
                                    <div v-if="section.GroupName=='modalCambioHarinas'">
                                        <div v-for="(question, j) in section.QuestionCollection">
                                            <div v-bind:class="classlenght(question.Weight)" v-if="question.CodeTypePoll=='MANY'">
                                                <div v-for="(detail, k) in question.QuestionDetailCollection">
                                                    <div v-bind:class="classlenght(question.Weight)"
                                                         v-if="detail.Checked==true && detail.Id==harinas[0].Id">
                                                        <v-autocomplete v-model="IdMarcaMolino"
                                                                        :disabled="isUpdating"
                                                                        :items="question.QuestionDetailCollection"
                                                                        box
                                                                        chips
                                                                        color="blue-grey lighten-2"
                                                                        item-text="Answer"
                                                                        item-value="Id"
                                                                        required>
                                                            <template slot="selection" slot-scope="data">
                                                                <v-chip :selected="data.selected">
                                                                    {{ data.item.Answer }}
                                                                </v-chip>
                                                            </template>
                                                            <template slot="item" slot-scope="data">
                                                                <template v-if="typeof data.item !== 'object'">
                                                                    <v-list-tile-content v-text="data.item"></v-list-tile-content>
                                                                </template>
                                                                <template v-else>
                                                                    <v-list-tile-content>
                                                                        <v-list-tile-title v-html="data.item.Answer"></v-list-tile-title>
                                                                    </v-list-tile-content>
                                                                </template>
                                                            </template>
                                                        </v-autocomplete>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer ">
                                <button type="submit" id="btndinamic" class="btn btn btn-success margin  pull-right" v-on:click="acceptDinamicCambioHarina(i,j,k)">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Eliminar Harina -->
<div id="IdConfirmarEliminarHarina" class="modal fade " role="dialog" style="padding-top:10%">
    <div class="modal-dialog  modal-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-body" style="background-color:#d2d6de">
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Confirmar Eliminación Harina</h4>
                        <button type="button" class="pull-right close" data-dismiss="modal" style="    color: black;  font-size: 20px;  font-weight: 700;">&times;</button>
                    </div>
                    <div class="box-body">
                        <div class="box-body">
                            <div class="form-group col-md-12">
                                <label for="exampleInputEmail1" class="txtHarinas">Esta Seguro Que Desea Eliminar Esta Harina?</label>
                            </div>
                            <div class="box-footer ">
                                <button type="submit" id="btneliminareliminarharina" class="btn btn-info margin pull-right" v-on:click="deleteDinamicCambioHarina()">Si</button>
                                <button type="submit" id="btncerrareliminarharina" class="btn btn btn-info margin pull-right" v-on:click="OcultarModalEliminarHarina()">No</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
