
        <div id="galley">
            <div class="row">
                <ul class="pictures">

                    <li class="col-sm-2 center" v-for="(image, index) in poll.BranchImages">
                        <img v-bind:src="image.UrlImage" v-bind:alt="image.NameFile" style="width: 200px; border-radius: 5px; max-height:110px !important" class="hover-shadow cursor imagenClase">{{image.NameFile}} </img>
                    </li>


                </ul>   
            </div>
        </div>
